<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tittle</key>
		<string>这是谁</string>
		<key>answer</key>
		<string>阿离</string>
		<key>icon</key>
		<string>ali2.jpeg</string>
		<key>options</key>
		<array>
			<string>狗</string>
			<string>哈</string>
			<string>留</string>
			<string>理</string>
			<string>全</string>
			<string>犬</string>
			<string>萌</string>
			<string>阿</string>
			<string>夜</string>
			<string>杀</string>
			<string>二</string>
			<string>臭</string>
			<string>皮</string>
			<string>就</string>
			<string>离</string>
			<string>叉</string>
		</array>
	</dict>
	<dict>
		<key>tittle</key>
		<string>他们在做什么</string>
		<key>answer</key>
		<string>打架</string>
		<key>icon</key>
		<string>dajia.jpg</string>
		<key>options</key>
		<array>
			<string>狗</string>
			<string>哈</string>
			<string>留</string>
			<string>理</string>
			<string>全</string>
			<string>犬</string>
			<string>打</string>
			<string>阿</string>
			<string>夜</string>
			<string>架</string>
			<string>二</string>
			<string>臭</string>
			<string>皮</string>
			<string>就</string>
			<string>离</string>
			<string>叉</string>
		</array>
	</dict>
	<dict>
		<key>tittle</key>
		<string>这是谁</string>
		<key>answer</key>
		<string>阿离</string>
		<key>icon</key>
		<string>ali.jpg</string>
		<key>options</key>
		<array>
			<string>狗</string>
			<string>哈</string>
			<string>留</string>
			<string>生</string>
			<string>全</string>
			<string>犬</string>
			<string>萌</string>
			<string>阿</string>
			<string>夜</string>
			<string>杀</string>
			<string>二</string>
			<string>离</string>
			<string>皮</string>
			<string>就</string>
			<string>丸</string>
			<string>叉</string>
		</array>
	</dict>
</array>
</plist>
